.top-bar {
  .title-area {
    li {
      &.logo, &.name {
        display: inline-block;
      }
      &.logo img {
        max-height: 2em;
        margin: 0 .25em;
      }
    }
  }
  .main-nav, .secondary {
    li {
      border-left: solid 1px #4e4e4e;
      &:last-child {
        border-right: solid 1px #4e4e4e;
      }
    }
  }
}