.orbit {
	@include remove-outline;
	height: auto;
	max-height: 100% !important;
}
.orbit-slide {
	max-height: 100% !important;
}
.orbit-container {
	@include remove-outline;
	height: auto !important;
}
.orbit-image {
	img {
		width: 100%;
		height: auto;
	}
}